# Study Overview

In this study, we are trying to analyze the psychophysiological data i.e. EDA and Temperature in 2 scenarios: 

* How EDA varies when the person is showering on his own and when the person is showering when the other is present.


      -whether the perceived pain and stress is less when the partner is present
* How EDA is changing over time while showering 
* How EDA and HR differ over the test periods (on day basis)

# Import Library

In [11]:
import numpy as np 
# import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import cvxEDA
import datetime
from scipy import stats
from mpl_toolkits import mplot3d

sns.set(color_codes = True)
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# Load the data

## EDA

### FL

In [5]:
# Sampling frequency 4Hz ~= 0.25s
fl_eda = pd.read_csv('data/4_25/fl/EDA.csv' , header= None)
fl_eda.columns  = ['eda']
fl_eda_freq = fl_eda.iloc[1].values
print(len(fl_eda))
print('freq: ', fl_eda_freq)
fl_eda.head(10)

614000
freq:  [4.]

            eda
0  1.524628e+09
1  4.000000e+00
2  0.000000e+00
3  4.740600e-02
4  8.456300e-02
5  8.328200e-02
6  8.712500e-02
7  8.968800e-02
8  1.101880e-01
9  1.178750e-01

In [6]:
fl_init_time = datetime.datetime.utcfromtimestamp(fl_eda.iloc[0]).strftime('%Y-%m-%d %H:%M:%S')
fl_init_time

'2018-04-25 03:46:33'

In [7]:
fl_eda = fl_eda.iloc[2:]
fl_eda.head(5)

        eda
2  0.000000
3  0.047406
4  0.084563
5  0.083282
6  0.087125

In [8]:
#create index 
fl_time_eda = pd.date_range(start=fl_init_time, periods=len(fl_eda), freq=str(1/int(fl_eda_freq))+'S')
fl_time_eda

DatetimeIndex([       '2018-04-25 03:46:33', '2018-04-25 03:46:33.250000',
               '2018-04-25 03:46:33.500000', '2018-04-25 03:46:33.750000',
                      '2018-04-25 03:46:34', '2018-04-25 03:46:34.250000',
               '2018-04-25 03:46:34.500000', '2018-04-25 03:46:34.750000',
                      '2018-04-25 03:46:35', '2018-04-25 03:46:35.250000',
               ...
                      '2018-04-26 22:24:50', '2018-04-26 22:24:50.250000',
               '2018-04-26 22:24:50.500000', '2018-04-26 22:24:50.750000',
                      '2018-04-26 22:24:51', '2018-04-26 22:24:51.250000',
               '2018-04-26 22:24:51.500000', '2018-04-26 22:24:51.750000',
                      '2018-04-26 22:24:52', '2018-04-26 22:24:52.250000'],
              dtype='datetime64[ns]', length=613998, freq='250L')

In [9]:
fl_eda = fl_eda.set_index(fl_time_eda, drop =True)
fl_eda.head()

                              eda
2018-04-25 03:46:33.000  0.000000
2018-04-25 03:46:33.250  0.047406
2018-04-25 03:46:33.500  0.084563
2018-04-25 03:46:33.750  0.083282
2018-04-25 03:46:34.000  0.087125

In [10]:
# eda = eda.rolling(4).sum()
fl_eda = fl_eda.iloc[::4,:]
fl_eda = fl_eda.dropna()
print(len(fl_eda))
fl_eda.head()

153500

                          eda
2018-04-25 03:46:33  0.000000
2018-04-25 03:46:34  0.087125
2018-04-25 03:46:35  0.119157
2018-04-25 03:46:36  0.103782
2018-04-25 03:46:37  0.094813

### HW

In [5]:
# Sampling frequency 4Hz ~= 0.25s
hw_eda = pd.read_csv('data/4_25/hw/EDA.csv', header= None)
hw_eda.columns  = ['eda']
hw_eda_freq = hw_eda.iloc[1].values
print(len(hw_eda))
print('freq: ', hw_eda_freq)
hw_eda.tail(10)

573524
freq:  [4.]

            eda
0  1.524628e+09
1  4.000000e+00
2  0.000000e+00
3  2.561300e-02
4  5.250600e-02
5  5.250600e-02
6  4.994500e-02
7  4.738400e-02
8  4.738400e-02
9  4.482200e-02

In [8]:
hw_init_time = datetime.datetime.utcfromtimestamp(hw_eda.iloc[0]).strftime('%Y-%m-%d %H:%M:%S')
hw_init_time

'2018-04-25 03:46:32'

In [ ]:
hw_eda = hw_eda.iloc[2:]
hw_eda.head(5)

## EDA Analysis

## CR

In [13]:
y = np.asarray(fl_eda.eda)
y[:10]

array([0.      , 0.087125, 0.119157, 0.103782, 0.094813, 0.099938,
       0.09225 , 0.066625, 0.075594, 0.082   ])

In [14]:
yn = (y - y.mean()) / y.std()
Fs = 25.
[r, p, t, l, d, e, obj] = cvxEDA.cvxEDA(yn, 1./Fs)
import pylab as pl
tm = pl.arange(1., len(y)+1.) / Fs
pl.hold(True)
pl.plot(tm, yn)
pl.plot(tm, r)
pl.plot(tm, p)
pl.plot(tm, t)
pl.show()

AttributeError: module 'cvxEDA' has no attribute 'cvxEDA'